#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size: 32px;
  text-align: center;
}
/* 
.repos {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    /* column-count: 2; */
    /* border-bottom: 1px solid #eaeaea; */

    /* a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

.details:hover {  
 filter: drop-shadow(0 0 2em #646cffaa); */
